<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the homepage</h1><br>
    <p style ="font-family: Arial, Helvetica, sans-serif;">If you are an existing user, go to the login page.</p><br>
    <a href="{{ login_url }}"><button>Login</button></a><br>
    <p style ="font-family: Arial, Helvetica, sans-serif;">If you are a new user, go to the register page</p><br>
    <a href="{{ register_url }}"><button>Register</button></a>
</body>
</html>